.report-body {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 90%;
} 
 
.composition {
    background: #e9e9e9;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;}
 
.composition-list {
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}
 
.composition-list li {
    display: inline-block;
    width: 19%;
}
 
.composition-list li div {
    width: 100%;
}
 
.composition-list li div p {
    margin: 0px;
}
 
.calories {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
}
 
.calories h2 {
    font-size: 24px;
}
 
.calories .line-block {
    height: 20px;
}
 
.calories .percentage {
    float: left;
}
 
.calories .aim {
    float: right;
}
 
.calories .aim-input {
    background: #e9e9e9;
    border: 0px;
    width: 100px;
}
 
.meals {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
}
 
.meal {
    background: #e9e9e9;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 1px 1px black;
}

.diagram {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
 
@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
 
.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}
