{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/recipes.css' %}">
<script src="{% static 'js/recipes.js' %}"></script>

<div class="container">
    
    <div class="upper">
        <div class="input-group mb-3 search">
            <input type="text" class="form-control" placeholder="Enter recipe name" aria-label="" aria-describedby="button-addon2">
            <button class="btn btn-outline-success" type="button" id="button-addon2">Search</button>
        </div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'create_recipe' %}" class="btn btn-primary add-btn">Add new recipe</a>
        {% endif %}
    </div>

    <div class="main">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for recipe in recipes %}
            <div class="col">
              <div class="card h-100">
                <img src="{{ recipe.image.url }}" class="card-img-top recipe-image" alt="Recipe image">
                <div class="card-body">
                  <h5 class="card-title">{{ recipe.title }}</h5>
                  <p class="card-text">@{{ recipe.author.username }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
    </div>

</div>


{% endblock content %}